* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: none;
}

.header {
    background-color: royalblue;
}

.menu {
    background-color: seagreen;
}

.footer {
    background-color: steelblue;
}