<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1><a href="{% url 'home' %}">OHACMS</a></h1>

Post: {{ posts }}
<hr>

<ul>
    <h2>All Posts(name, type -> parent)</h2>
{% for post in posts %}
    <li>{{ post.name }}, {{ post.post_type }} -> {{ post.parent }}</li>
{% empty %}
    <li>Sorry, no post in this list.</li>
{% endfor %}
</ul>
<hr>

<ul>
{% for post in posts %}
    {% if post.post_type == 'sayfa' %}
        <!--If post.parent is not empty-->
        {% if not post.parent %}
            <!--{{ post.get_absolute_url }} to get post detail page-->
            <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
            {% for post_sub in posts %}
                {% if post.pk == post_sub.parent.pk %}
                <ul>
                     <li><a class="sub" href="{{ post_sub.get_absolute_url }}">{{ post_sub.title }}</a></li>
                </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% empty %}
    <li>Sorry, no posts in this list.</li>
{% endfor %}
</ul>

{% block content %}

{% endblock content %}
</body>
</html>