<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Site Title</title>

    {# Bootstrap CSS #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">

    {# My Css Styles Start #}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css\style-1.css' %}">
    {# My Css Styles End #}

</head>

<body>
    <div class="container">

        <div class="header row-cols-1">
            <h1><a href="{% url 'home' %}">
                    {# test ile eklediğimiz name'i Title olan optionsu getir. Bu getirmeyi kolaylaştırabiliriz. #}
                    {% for option in options %}
                    {% if option.name == 'Title' %}
                    {{ option.content |safe }}
                    {% endif %}
                    {% endfor %}
                </a></h1>
        </div>
        {# div.header end #}

        <div class="menu navbar navbar-expand-lg navbar-light bg-primary text-white">
            <a class="navbar-brand text-white" href="#">OHACMS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">

                <ul class="navbar-nav">
                {% for post in posts %}
                        {% if post.post_type == 's' %}
                        {# If post.parent is not empty #}
                            {% if not post.parent %}
                            {# {{ post.get_absolute_url }} to get post detail page #}
                            <li class="parent nav-item">
                                <a class="nav-link text-white" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                {% if post.post_set.all %}
                                {# if post has subposts create a new ul tag, else close li tag #}
                                <ul class="nav-item">
                                    {% for post_sub in post.post_set.all %}
                                        <li class="sub nav-item">
                                            <a class="nav-link text-dark" href="{{ post_sub.get_absolute_url }}">{{ post_sub.title }}</a>
                                        </li>
                                    {% endfor %}
                                {% if post.post_set.all %}
                                </ul>
                                {% endif %}
                                {% else %}
                            </li>
                                {% endif %}
                        {% endif %}
                    {% endif %}
                {% empty %}
                <li>Sorry, no posts in this list.</li>
                {% endfor %}

            </div>

        </div>
        {# div.menu navbar end #}

        <div class="content text-primary">
            {% block content %}

            {% endblock content %}
        </div>
        {# div.content end #}

        <div class="footer bg-primary">
            {% for option in options %}
            {% if option.name == 'Footer' %}
            {{ option.content |safe }}
            {% endif %}
            {% endfor %}
        </div>
        {# div.footer end #}

    </div>
    {# div.wrapper end #}



    {# Optional JavaScript; choose one of the two! #}

    {# Option 1: Bootstrap Bundle with Popper #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    
</body>

</html>