<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>OHACMS</h1>

{{ posts }}
<br>


{% for post in posts %}
    {% if post.post_type == 'sayfa' %}
        {% if post.parent_id is null %}
            <a href="/post/{{ post.pk }}">{{ post.title }}</a>
            {%for post_sub in posts %}
                {% if post.pk == post_sub.parent_id %}
                     <a class="sub" href="/post/{{ post_sub.pk }}">{{ post_sub.title }}</a>
                {% endif %}
            {% endfor %}            
        {% endif %}
    {% endif %}
{% endfor %}

{% block content %}

{% endblock content %}
</body>
</html>